.img-home {
    background-image: url('../../asset/image/background.jpg');
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.grid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.main-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}